// Specific CSS for your home-page
#banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url("https://www.hotel-origami.com/media/cache/jadro_resize/rc/s819szpR1551401495/jadroRoot/medias/gin-cocktails.jpg");
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  padding: 0 20%;
  h1 {
    font-weight: bolder;
    font-size: 64px;
  }
  p {
    font-size: 24px;
  }
}

